:root {
    --beige-color: #F4EFE9;
    --dark-beige-color: #1E192808;
    --black-color: #1E1928;
    --black-color-80: #1E192880;
    --black-color-60: #1E192860;
    --grey-color: #A0B4BB;
    --peach-color: #FFD394;
    --wine-color: #592141;
  }

@font-face {
    font-family: Roboto;
    src:
        url(./assets/fonts/Roboto/Roboto-Regular.ttf),
        url(./assets/fonts/Roboto/Roboto-Medium.ttf),
        url(./assets/fonts/Roboto/Roboto-MediumItalic.ttf),
        url(./assets/fonts/Roboto/Roboto-Thin.ttf),
        url(./assets/fonts/Roboto/Roboto-ThinItalic.ttf),
        url(./assets/fonts/Roboto/Roboto-Light.ttf),
        url(./assets/fonts/Roboto/Roboto-LightItalic.ttf),
        url(./assets/fonts/Roboto/Roboto-Italic.ttf),
        url(./assets/fonts/Roboto/Roboto-Bold.ttf),
        url(./assets/fonts/Roboto/Roboto-BoldItalic.ttf),
        url(./assets/fonts/Roboto/Roboto-Black.ttf),
        url(./assets/fonts/Roboto/Roboto-BlackItalic.ttf);
}

@font-face {
    font-family: Inter;
    src:
        url(./assets/fonts/Inter/static/Inter-Regular.ttf),
        url(./assets/fonts/Inter/static/Inter-Black.ttf),
        url(./assets/fonts/Inter/static/Inter-Bold.ttf),
        url(./assets/fonts/Inter/static/Inter-ExtraBold.ttf),
        url(./assets/fonts/Inter/static/Inter-ExtraLight.ttf),
        url(./assets/fonts/Inter/static/Inter-Medium.ttf),
        url(./assets/fonts/Inter/static/Inter-Light.ttf),
        url(./assets/fonts/Inter/static/Inter-SemiBold.ttf),
        url(./assets/fonts/Inter/static/Inter-Thin.ttf);
}

* {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 112px;
    position: fixed;
    padding: 0 80px;
    width: -webkit-fill-available;
}

.header--beige {
    background-color: var(--beige-color);
}

.header--peach {
    background-color: var(--peach-color);
}

.header-wine {
    background-color: var(--wine-color);
}

.header--black {
    background-color: var(--black-color);
}

.header-whine {
    background-color: #FFFFFF;
}

.header-wrapper {
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.header-wrapper--logo {
    cursor: pointer;
    user-select: none;
}

.header-wrapper--navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navigation-list--item {
    margin-right: 32px;
    cursor: pointer;
}

.navigation-list--item:hover {}

.navigation-list--item:active {}

.navigation-list--item:last-of-type {
    margin-right: 0;
}

.navigation-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--black-color);
    text-decoration: none;
    user-select: none;
}
































