:root {
    --beige-color: #F4EFE9;
    --dark-beige-color: #1E192808;
    --black-color: #1E1928;
    --black-color-80: #1E192880;
    --black-color-60: #1E192860;
    --grey-color: #A0B4BB;
    --peach-color: #FFD394;
    --wine-color: #592141;
  }

